fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
psycopg[binary]==3.2.10
pydantic-settings==2.9.1
PyJWT==2.10.1
pwdlib[argon2]==0.2.1
email-validator==2.2.0
strawberry-graphql[fastapi]==0.327.7
authlib==1.6.0
httpx==0.28.1
itsdangerous==2.2.0
